Repository mycel-labs/mycel-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-fix, yarn prettier

update docusaurus
  package.json
  yarn.lock
Due: yarn prettier

add overview and roadmap
  docs/overview/index.md
  docs/overview/roadmap.md
Due: yarn prettier

add overview fig
  .eslintcache
  docs/assets/overview.d2
  docs/assets/overview.svg
  docs/overview/index.md
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

add domain registration
  docs/overview/domain-registration.md
  docs/overview/index.md
  docs/overview/roadmap.md
Due: yarn prettier

add presale
  docs/overview/presale.md
  docs/overview/roadmap.md
Due: yarn prettier

add migration@presale
  docs/overview/presale.md
Due: yarn prettier

fix presale
  docs/overview/presale.md
Due: yarn prettier

add incentives
  docs/overview/incentives.md
  docs/overview/presale.md
  docs/overview/roadmap.md
Due: yarn prettier

add name resolution
  docs/assets/nrc.d2
  docs/assets/nrc.svg
  docs/overview/incentives.md
  docs/overview/name-resolution.md
  docs/overview/presale.md
  docs/overview/roadmap.md
Due: yarn prettier

update packages
  yarn.lock
Due: none

fix typo
  docs/assets/nrc.d2
  docs/assets/nrc.svg
Due: none

little things
  docs/overview/domain-registration.md
  docs/overview/presale.md
  docusaurus.config.js
Due: yarn prettier

fix fig
  docs/assets/nrc.d2
  docs/assets/nsc.d2
  docs/assets/nsc.svg
  docs/assets/overview.d2
  docs/assets/overview.svg
  docs/overview/name-resolution.md
Due: yarn prettier

add motivation
  docs/overview/incentives.md
  docs/overview/index.md
Due: yarn prettier

fix fig
  docs/assets/nsc.d2
  docs/assets/nsc.svg
  docs/assets/overview.d2
  docs/assets/overview.svg
  docs/overview/name-resolution.md
  docusaurus.config.js
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

rm tagline
  .eslintcache
  docusaurus.config.js
Due: none

update favicon
  static/img/docusaurus.png
  static/img/favicon.ico
  static/img/logo.svg
  static/img/undraw_docusaurus_mountain.svg
  static/img/undraw_docusaurus_react.svg
  static/img/undraw_docusaurus_tree.svg
Due: none

add supported protocols to intro
  docs/overview/index.md
Due: yarn prettier

update images
  docs/assets/architecture_overview.d2
  docs/assets/architecture_overview.svg
  docs/assets/nsc.d2
  docs/assets/nsc.svg
  docs/assets/overview.d2
Due: none

dep
  package.json
  yarn.lock
Due: yarn prettier

add develop guide
  docs/develop/index.md
  docs/develop/modules/epochs.md
  docs/develop/modules/incentives.md
  docs/develop/modules/index.md
  docs/develop/modules/registry.md
  docs/develop/modules/resolver.md
  docs/overview/index.md
  docusaurus.config.js
Due: yarn prettier

update nav logo
  docusaurus.config.js
  static/img/logo.svg
Due: none

update incentive module
  docs/develop/modules/incentives.md
Due: yarn prettier

update registry
  docs/develop/modules/registry.md
Due: yarn prettier

add devnet
  docs/develop/cli.md
  docs/develop/devnet.md
Due: yarn prettier

add contributing
  docs/develop/contributing.md
Due: yarn prettier

fix link
  docs/develop/modules/index.md
Due: yarn prettier

change chainid
  docs/develop/devnet.md
Due: yarn prettier

fix link
  docs/develop/modules/index.md
  package.json
  yarn.lock
Due: yarn prettier

update rpc url
  docs/develop/devnet.md
Due: yarn prettier

update registry and epochs
  docs/develop/modules/epochs.md
  docs/develop/modules/registry.md
Due: yarn prettier

update loadmap
  docs/overview/roadmap.md
Due: yarn prettier

update overview
  docs/assets/overview.d2
  docs/assets/overview.svg
Due: none

add dashboard
  docs/assets/dashboard.png
Due: none

add dashboard docs
  docs/overview/dashboard.md
  docs/overview/index.md
Due: yarn prettier

add IPFS and ICP
  docs/assets/overview.d2
  docs/assets/overview.svg
  docs/overview/index.md
Due: yarn prettier

fix typo
  docs/overview/incentives.md
Due: yarn prettier

update intro
  docs/overview/index.md
Due: yarn prettier

add track activity
  docs/overview/index.md
Due: yarn prettier

update roadmap
  docs/overview/roadmap.md
Due: yarn prettier

Path conditions:
  yarn lint-fix: any of: *.{ts,tsx}
  yarn prettier: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,css,scss})
