Repository mycel-labs/mycel-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-fix, yarn prettier

update rpc
  docs/develop/network.md
Due: yarn prettier

rm genesis
  docs/develop/network.md
Due: yarn prettier

Fix endpoints of networks
  docs/develop/network.md
Due: yarn prettier

add validator intro
  docs/develop/node.md
  docs/home/index.md
  docs/validate/index.md
  docusaurus.config.js
Due: yarn prettier

update network
  docs/develop/network.md
Due: yarn prettier

add validator setup
  docs/validate/setup.md
Due: yarn prettier

add faq page
  docs/validate/faq.md
Due: yarn prettier

add CosmWasm sample
  docs/develop/contributing.md
  docs/develop/cosmwasm/index.md
  docs/develop/cosmwasm/local.md
  docs/develop/modules/index.md
  docs/develop/node.md
Due: yarn prettier

update endpoint
  docs/develop/network.md
Due: yarn prettier

update roadmap
  docs/overview/roadmap.md
Due: yarn prettier

update core concept
  docs/assets/dashboard.png
  docs/assets/overview.png
  docs/overview/auth-provider/index.md
  docs/overview/dashboard.md
  docs/overview/domain-based-transfer/index.md
  docs/overview/index.md
  docs/overview/mycel-id/domain-registration.md
  docs/overview/mycel-id/index.md
  docs/overview/mycel-id/name-resolution.md
Due: yarn prettier

fix link
  docs/overview/mycel-id/index.md
Due: yarn prettier

add link to dashboard
  docusaurus.config.js
Due: none

add principles
  docs/validate/index.md
Due: yarn prettier

fix section
  docs/validate/index.md
Due: yarn prettier

add home page
  package.json
  src/assets/hero.png
  src/components/Card.tsx
  src/components/Hero.tsx
  src/components/Section.tsx
  src/pages/index.tsx
  yarn.lock
Due: yarn lint-fix, yarn prettier

beatify card
  src/components/Card.tsx
Due: yarn lint-fix, yarn prettier

update register domain page
  .eslintcache
  docs/assets/dashboard/1.png
  docs/assets/dashboard/10.png
  docs/assets/dashboard/2.png
  docs/assets/dashboard/3.png
  docs/assets/dashboard/4.png
  docs/assets/dashboard/5.png
  docs/assets/dashboard/6.png
  docs/assets/dashboard/7.png
  docs/assets/dashboard/8.png
  docs/assets/dashboard/9.png
  docs/overview/dashboard.md
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

add keyfeatures
  .eslintcache
  docs/overview/features/auth-provider/index.md
  docs/overview/features/domain-based-transfer/index.md
  docs/overview/features/index.md
  docs/overview/features/mycel-id/domain-registration.md
  docs/overview/features/mycel-id/index.md
  docs/overview/features/mycel-id/name-resolution.md
  docs/overview/index.md
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

refactor page
  docs/assets/domain-based-transfer.png
  docs/overview/features/auth-provider/index.md
  docs/overview/features/domain-based-transfer/index.md
  docs/overview/features/index.md
  docs/overview/features/mycel-id/domain-registration.md
  docs/overview/features/mycel-id/index.md
  docs/overview/features/mycel-id/name-resolution.md
  docs/overview/tokenomics.md
Due: yarn prettier

fix broken link
  docs/overview/features/mycel-id/index.md
Due: yarn prettier

add cosmwasm detail
  docs/develop/cosmwasm/index.md
Due: yarn prettier

add develop intro
  docs/develop/index.md
Due: yarn prettier

refactor sections
  docs/develop/index.md
  docs/overview/community.md
  docs/overview/concepts/id-based-transfer.md
  docs/overview/concepts/index.md
  docs/overview/concepts/mycel-id.md
  docs/overview/concepts/mycel-token.md
  docs/overview/features/auth-provider/index.md
  docs/overview/features/domain-based-transfer/index.md
  docs/overview/features/index.md
  docs/overview/governance/index.md
  docs/overview/grossary.md
  docs/overview/index.md
  docs/overview/products/dashboard.md
  docs/overview/products/index.md
  docs/overview/tokenomics.md
  docs/overview/usecase.md
  docusaurus.config.js
  src/components/Hero.tsx
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

rm edit
  .eslintcache
  docusaurus.config.js
Due: none

add explation of intent
  docs/overview/concepts/index.md
  docs/overview/concepts/mycel-id.md
  docs/overview/index.md
  docs/overview/presskit.md
Due: yarn prettier

add multi-chain intent
  docs/assets/architecture_overview.d2
  docs/assets/architecture_overview.svg
  docs/assets/dashboard.png
  docs/assets/domain-based-transfer.png
  docs/assets/id-based-transfer.png
  docs/assets/incentive.png
  docs/assets/integration.png
  docs/assets/intent-centric.png
  docs/assets/interchain.png
  docs/assets/nsc.d2
  docs/assets/nsc.svg
  docs/assets/overview.d2
  docs/assets/overview.png
  docs/assets/overview.svg
  docs/assets/private_record.png
  docs/assets/protocols.png
  docs/assets/tokenomics.png
  docs/assets/transaction-based.png
  docs/overview/concepts/id-based-transfer.md
  docs/overview/concepts/index.md
  docs/overview/concepts/multi-chain-intent-pool.md
  docs/overview/concepts/mycel-id.md
  docs/overview/grossary.md
  docs/overview/index.md
Due: yarn prettier

update order
  docs/overview/concepts/id-based-transfer.md
  docs/overview/concepts/index.md
  docs/overview/concepts/multi-chain-sequcener.md
  docs/overview/governance/index.md
  docs/overview/grossary.md
  docs/overview/tokenomics/index.md
  docs/overview/tokenomics/mycel-token.md
  docs/overview/usecase.md
  src/components/Hero.tsx
Due: yarn lint-fix, yarn prettier

add pool to home
  .eslintcache
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

add usecase
  .eslintcache
  docs/assets/id-based-transfer.png
  docs/overview/concepts/id-based-transfer.md
  docs/overview/usecase.md
  docs/overview/usecase/cross-chain-transactions.md
  docs/overview/usecase/gaming-socialfi.md
  docs/overview/usecase/index.md
Due: yarn prettier

update title
  docs/develop/index.md
  docs/validate/index.md
  docusaurus.config.js
Due: yarn prettier

add usecase to home
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

add draft
  .eslintcache
  docs/overview/usecase/gaming-socialfi.md
Due: yarn prettier

edit usecase
  docs/overview/usecase/cross-chain-transactions.md
  docs/overview/usecase/index.md
  docusaurus.config.js
  package.json
  yarn.lock
Due: yarn prettier

update usecase
  docs/assets/usecase/1-1.png
  docs/assets/usecase/1-2.png
  docs/overview/usecase/cross-chain-transactions.md
Due: yarn prettier

fix usecase fig
  docs/assets/usecase/1-1.png
  docs/assets/usecase/1-2.png
Due: none

add idb-tra usecase
  docs/assets/usecase/2-1.png
  docs/overview/usecase/id-based-tx.md
  docs/overview/usecase/index.md
Due: yarn prettier

update x link
  docs/overview/community.md
  docusaurus.config.js
Due: yarn prettier

add cross-chain order verifier
  docs/assets/overview.png
  docs/assets/usecase/Mycel Overview.png
  docs/overview/concepts/cross-chain-order-verifier.md
  docs/overview/concepts/id-based-transfer.md
  docs/overview/concepts/index.md
  docs/overview/concepts/multi-chain-intent-pool.md
  docs/overview/concepts/multi-chain-sequcener.md
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

update intro
  .eslintcache
  docs/overview/index.md
Due: yarn prettier

Path conditions:
  yarn lint-fix: any of: *.{ts,tsx}
  yarn prettier: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,css,scss})
