Repository mycel-labs/mycel-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint-fix, yarn prettier

update github link
  docs/assets/overview.png
  docusaurus.config.js
Due: none

restructured
  .eslintcache
  docs/develop/cli.md
  docs/develop/modules/index.md
  docs/develop/network.md
  docs/overview/concepts/cross-chain-order-verifier.md
  docs/overview/concepts/id-based-transfer.md
  docs/overview/concepts/index.md
  docs/overview/concepts/mycel-id.md
  docs/overview/governance/index.md
  docs/overview/grossary.md
  docs/overview/products/dashboard.md
  docs/overview/products/index.md
  docs/overview/roadmap.md
  docs/overview/tokenomics/index.md
  docs/overview/tokenomics/mycel-token.md
  docs/overview/usecase/cross-chain-transactions.md
  docs/overview/usecase/gaming-socialfi.md
  docs/overview/usecase/id-based-tx.md
  docs/overview/usecase/index.md
  docs/overview/what_to_build.md
  docs/validate/index.md
  docs/validate/setup.md
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

add new topics
  docs/overview/concepts/mycel-id.md
  docs/overview/concepts/transferable-account.md
  docs/overview/governance/index.md
  docs/overview/index.md
  docs/overview/what_to_build.md
  docusaurus.config.js
  src/components/Hero.tsx
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

update transferable-account.md
  docs/assets/ta-deposit.png
  docs/assets/ta-send.png
  docs/assets/ta-withdraw.png
  docs/assets/transferable-account.png
  docs/overview/concepts/transferable-account.md
Due: yarn prettier

fix broken link
  .eslintcache
  docs/develop/cli.md
  docs/develop/network.md
Due: yarn prettier

add ignore
  .eslintcache
  .gitignore
Due: none

publish ta concept
  docs/overview/concepts/index.md
  docs/overview/concepts/transferable-account.md
Due: yarn prettier

rm dashboard
  docusaurus.config.js
Due: none

to 3.4
  docs/overview/index.md
  docs/overview/what_to_build.md
  docusaurus.config.js
  package.json
  yarn.lock
Due: yarn prettier

update concept of transferrable account
  docs/assets/swap.png
  docs/assets/ta.png
  docs/overview/concepts/transferable-account.md
  docs/overview/index.md
  docs/overview/what_to_build.md
Due: yarn prettier

add spec
  docs/overview/concepts/transferable-account.md
Due: yarn prettier

add desc
  .eslintcache
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

update img
  .eslintcache
  docusaurus.config.js
  static/img/favicon.ico
Due: none

fix account name
  docs/overview/what_to_build.md
Due: yarn prettier

update account name
  docs/overview/concepts/transferable-account.md
Due: yarn prettier

update intro
  docs/overview/concepts/index.md
  docs/overview/index.md
Due: yarn prettier

update ta
  docs/overview/concepts/index.md
  docs/overview/concepts/mycel-id.md
  docs/overview/concepts/programmable-account.md
  docs/overview/concepts/transferable-account.md
Due: yarn prettier

add architecture
  docs/assets/id-based-transfer.png
  docs/assets/key-generation.png
  docs/assets/pa.png
  docs/assets/ta-deposit.png
  docs/assets/ta-send.png
  docs/assets/ta-withdraw.png
  docs/assets/ta.png
  docs/assets/transferable-account.png
  docs/assets/usecase/1-1.png
  docs/assets/usecase/1-2.png
  docs/assets/usecase/2-1.png
  docs/assets/usecase/Mycel Overview.png
  docs/overview/architecture/astraeus.md
  docs/overview/architecture/cordyceps.md
  docs/overview/architecture/index.md
  docs/overview/concepts/index.md
  docs/overview/concepts/transferable-account.md
  docs/overview/index.md
Due: yarn prettier

fix build
  docs/overview/concepts/transferable-account.md
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

add astraeus architecture
  .eslintcache
  docs/assets/astraeus.png
  docs/overview/architecture/astraeus.md
Due: yarn prettier

change title
  docusaurus.config.js
Due: none

docs(api): add draft version of API specification for Astraeus
  docs/develop/astraeus/index.md
  docs/develop/astraeus/spec.md
  docs/develop/astraeus/technical_details.md
  docs/develop/index.md
Due: yarn prettier

fix(docs): change DELETE method to POST for account deletion endpoint
  docs/develop/astraeus/spec.md
Due: yarn prettier

refactor dev
  docs/develop/astraeus/get-started.md
  docs/develop/astraeus/index.md
  docs/develop/astraeus/spec.md
  docs/develop/astraeus/technical-details.md
  docs/develop/cli.md
  docs/develop/cosmwasm/index.md
  docs/develop/cosmwasm/local.md
  docs/develop/index.md
  docs/develop/modules/epochs.md
  docs/develop/modules/index.md
  docs/develop/modules/registry.md
  docs/develop/modules/resolver.md
  docs/develop/network.md
  docs/overview/architecture/cordyceps.md
  docs/validate/faq.md
  docs/validate/index.md
  docs/validate/setup.md
  docusaurus.config.js
  src/pages/index.tsx
Due: yarn lint-fix, yarn prettier

add get-started
  docs/develop/astraeus/get-started.md
Due: yarn prettier

add astraeus links
  .eslintcache
  docs/develop/index.md
  docs/overview/architecture/astraeus.md
Due: yarn prettier

Path conditions:
  yarn lint-fix: any of: *.{ts,tsx}
  yarn prettier: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,css,scss})
